<%layout('layouts/boilerplate')%>

    <h1>Full Inventory</h1>


    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">FOOD</th>
                    <th scope="col">LOCATION</th>
                    <th scope="col">EXPIRATION</th>
                    <th scope="col">VIEW</th>
                </tr>
            </thead>
            <tbody>
                <% for (let food of foods) { %>
                    <td>
                        <%=foodNum%>
                    </td>

                    <td>
                        <%=food.name%>
                    </td>
                    <td>
                        <%=food.location%>
                    </td>
                    <td>
                        <%=food.expiryDate%>
                    </td>
                    <td>See
                        <a href="/foods/<%=food._id%>">
                            <%=food.name%>
                        </a>
                    </td>

                    </tr>
                    <% foodNum++ %>
                        <% } %>


            </tbody>
        </table>
    </div>