<%layout('layouts/boilerplate')%>

    <h1>Full Inventory</h1>

    <div>
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for food..">
    </div>

    <div>
        <table id="myTable" class="table table-hover mt-3 mb-10">
            <tr class="header table-secondary">
                <th style="width:30%;">NAME</th>
                <th style="width:15%;">LOCATION</th>
                <th style="width:25%;">EXPIRY</th>
                <th style="width:30%;">NOTES</th>
            </tr>
            <tr>

                <% for (let food of foods) { %>
                    <!-- <td>
                    <%=foodNum%>
                </td> -->

                    <td>
                        <a href="/foods/<%=food._id%>">
                            <%=food.name%>
                        </a>
                    </td>
                    <td>
                        <%=food.location%>
                    </td>
                    <td>
                        <%=mmt(food.expiryDate, 'UTC').format('YYYY/MM/DD')%>
                    </td>
                    <td>
                        <%=food.notes%>
                    </td>
            </tr>
            <% foodNum++ %>
                <% } %>
                    </tr>

        </table>
    </div>